
@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap);

html, body {
  font-family: 'Figtree', sans-serif;
    color: #F8F5F0;
}

h1,
h2 {
    font-family: "Figtree";
    
}
.container {
  width: 100%; 
  
}

header {
  border-radius: 6px; 
  align-items: center;
  background-color: #4c3a2a; 
  padding: 0px 10px;
  border: 1px solid #f4bd33;
  font-size: 10px;
}

header h1{
  margin: 0; 
  font-size: 10px;
}

header h1 a {
  color: #F8F5F0; 
  text-decoration: none; 
  font-size: 5px;
}

header h1 a:hover {
text-decoration: underline; 
}

#logo {
  text-align: center; 
}

nav ul {
  list-style: none; 
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding: 0px 0px; 
}

nav ul li a {
  font-weight: none; 
  text-decoration: none; 
  color: #F8F5F0; 
  transition: color 0.3s ease; 
  padding: 6px 0; 
  transition: color 0.3s ease; 

  display: inline-block;
  width: 100%;
  text-align: center;
}

nav li a:hover { 
color: #f4bd33; 
}

body{

  background-color: #691818;
}

section {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  height: 20vh; 
  text-align: center;  
}

section img {
  width: 100%;  
  max-width: 100%;  
  height: auto;  
  border-radius: 10px;
}

section h2 {
  font-size: 25px;  
  margin: 10px 0;  
  color: #f4bd33;
}

section h3 {
  font-size: 40px;  
  margin: 10px 0;  
  color: #f4bd33;
}

section p {
  font-size: 10px;  
  margin: 10px; 
  max-width: 1200px; 
}

.aboutus-container{
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 12em;  
}

.aboutus{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Cantor\ Front\ Cropped.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.findus-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 12em;  
}

.findus{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Art\ Building.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.courses-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 12em;  
}

.courses{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Beehive\ Works.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.search-wrapper{
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: .25rem;
}

.search-wrapper strong {
  color: #f4bd33;
}

input{
  font-size: 1rem;
}

.course-infomation strong {
  color: #f4bd33;
}

.course-infomation {
  margin: 20px ; 
}

.course-cards{
  max-width: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .5rem;
  margin-top: .25rem;
}

.card {
  border: 1px solid #f4bd33;
  background-color: #F8F5F0;
  padding: .5rem;
  margin-bottom: .75rem;
}

.card > .header {
  margin-bottom: .25rem;
  color: #691818;
  font-weight: bold;
}

.card> .body {
  font-size: .8rem;
  column-count: #777;
  color: #691818;
}

.hide{
  display: none;
}

.facilities-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 12em;  
}

.facilities{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Background\ Image.png);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.contact-us{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-us label {
  display: block;  
  text-align: left;  
  margin: 5px; 
  color: #f4bd33;
}

.contactus-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 12em; 
}

.contactus{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Wall\ Art\ 1.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.rands-container{
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 12em; 
}

.rands{
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Cantor-Street.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: #F8F5F0;
}

.about-content ul li a {
  text-decoration: none;  
  color: #F8F5F0;  
  font-weight: bold;  
}

.about-content ul {
  list-style-type: none;  
}

.about-section{
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: left;
}

.about-section p{
  color:rgba(255, 255, 255, 0.95);
  padding: px;
  width: auto;
  margin: 20px;
}

.about-section img{
  max-width: 80%;  
  height: auto; 
  margin: 40px;
  border-radius: 5px;
}

.about-section iframe{
  max-width: 92%;
  height: auto;
  margin: 20px;
  border-radius: 5px;
}

.about-section .about-content strong {
  color: #f4bd33; 
}

.button-container {
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 30vh; }

.button {
  display: flex;
  height: 150px;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(76, 57, 42, 0.8);
  background-blend-mode: overlay;
  background-image: url(/images/Computing-Room.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Figtree', sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #f4bd33;
}

.button:active{
  background-image: url(/images/Computing-Room.jpg);
  background-color: rgba(76, 57, 42, 0.95);
  background-blend-mode: overlay;
  color: #fff; 
}

.button__text{
  display: inline-flex;
  align-items: center;
  padding: 0 100px;
}
.button__image{
  display: inline-flex;
  align-items: cener;
  padding: 0 12x;
  color: white;
  height: 100%
  
}

.bottombar {
  display: flex;  
  flex-direction:row;
  border-radius: 8px; 
  flex-wrap: wrap;  
  background-color: #4c3a2a;  
  color: #F8F5F0;  
  padding: 20px;  
}

.bottombar > div {
  flex: none;  
  width: 100%;
  max-width: 400px;  
  margin-bottom: 10px;  
  text-align: center;
}

 #bottomlogo img {
  max-width: 100%;  
  height: auto;  
}

 .bottommenu ul {
  line-height: 1;
  list-style: none;  
  padding: 0;  
  margin: 0;
}

.bottommenu ul li {
  margin-bottom: 10px;  
}

.bottommenu ul li a {
  color: #F8F5F0;  
  text-decoration: none;  
}

.address::first-line {
  color: #f4bd33;  
  font-weight: bold;  
}


.contact::first-line {
  color: #f4bd33; 
  font-weight: bold;  
}
 
.contact a {
  color: #F8F5F0;  
  text-decoration: none;
}

.contact a:hover {
  color: #F8F5F0;
  text-decoration: none;
}
.follow-us::first-line {
  color: #f4bd33;  
  font-weight: bold;  
}

.follow-us{
  line-height: 1.5rem;
}

 .follow-us a {
  color: #F8F5F0;  
  text-decoration: none;
  margin-bottom: 5px;
}

footer {
  width: 100%;
  max-width: none;
}

#copyright {
  text-align: center;
  width: 100%
}

